.venv/*
DATA/*
DATA_EXPANDED/*
Bird_Species_CNN_augmented.ipynb
Bird_Species_CNN.ipynb
test.py
TestPics/*
TestPics.zip
cnn_model_graph.png.png
cnn_model_graph
ProjectGanttChart.xlsx
CNN_Bird_Species.ipynb
CNN_Bird_Species_Camera.ipynb
predicted_Collarde_Dove.jpg
ProjectGanttChart.xlsx
accuracy_loss_over_epochs.png
Report.docx
accuracy_loss_over_epochs.png
predicted_Collarde_Dove.jpg
cnn_model_graph.png